# Target directories (Maven)
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Gradle ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore Gradle wrapper files if not needed
# Uncomment the following lines if you want to ignore the wrapper:
# gradle-wrapper.jar
# gradlew
# gradlew.bat
# gradle/

# Log files
*.log

# Temporary files
*.tmp
*~

# Environment-specific files
.env
.local.*
.secret.*

# Dependency caches
.m2/